//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 22 15:08:47 2023
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

