//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 10 19:08:50 2023
//! **************************************************************************

SCHEMATIC START;
COMP "ledB" LOCATE = SITE "J14" LEVEL 1;
COMP "led" LOCATE = SITE "L5" LEVEL 1;
COMP "button" LOCATE = SITE "H4" LEVEL 1;
COMP "rst" LOCATE = SITE "P12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
SCHEMATIC END;

